.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  color: white;
  background-color: #235ef5;
}
.mainHeader {
  height: 60px;
  padding: 20px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 100px;
  border-bottom: 1px solid black;
  padding: 0 50px;
}

.mainInputContainer {
  width: 100%;
}
